<h2>6. Primary-Side Power Switch Design</h2>

<h3>Current Calculation Through Primary-Side Power Switches</h3>

Magnetizing current:

$$
I_m = \frac{V_{in}}{L_p} \cdot \frac{D}{F_{sw}} = {{results.Im}} A 
$$

<h4>During the conduction interval [0,DT]</h4>

Primary current (minimum and maximum):

$$
I_{p_{\min}} = I_{L_{o,\min}} \cdot \frac{N_s}{N_p} - \frac{I_m}{2} = {{results.I_p_min}} A 
$$

$$
I_{p_{\max}} = I_{L_{o,\max}} \cdot \frac{N_s}{N_p} + \frac{I_m}{2} = {{ results.I_p_max}} A 
$$

<ol>
    <li>$I_{L_{o,\min}}$ - minimum current through the output inductor</li> 
    <li>$I_{L_{o,\max}}$ - maximum current through the output inductor</li> 
</ol>

RMS value of the current during the interval [0,DT]:

$$
I_{p_{rms,ON}} = \sqrt{\frac{I_{p_{\min}}^2 + I_{p_{\max}}^2 + I_{p_{\min}} \cdot I_{p_{\max}}}{3}} = {{ results.I_p_rms_on}} A 
$$

<h4>During the freewheeling interval [0,(0.5-D)T]</h4>

$$
I_{p_{min},2} = I_{p_{\max}} \cdot e^{-\frac{R_e}{L_k} \cdot (0.5-D) \cdot T} + \frac{I_m}{2} = {{ results.I_p_min_2}} A 
$$

<ol>
    <li>$L_k$ - leakage inductance</li>
    <li>$R_e$ - sum of equivalent resistances referred to the primary side</li>
</ol>

$$
R_e = 2 \cdot R_{dson_{PR}} + R_{prim} + \left( R_{sec} + 2 \cdot R_{dson_{SR}} \right) \cdot \left( \frac{N_p}{N_s} \right)^2  = {{ results.Re_mOhm}} m \Omega
$$

RMS value of the current during the freewheeling interval [0,(0.5-D)T]:

$$
I_{p_{rms,FW}} = \sqrt{\frac{I_{p_{\min},2}^2 + I_{p_{\max}}^2 + I_{p_{\min},2} \cdot I_{p_{\max}}}{3}} = {{ results.I_p_rms_FW}} A 
$$

RMS current value through the primary-side power static switches:

$$
I_{PR,RMS} = \sqrt{D \cdot I_{p_{rms,ON}}^2 + (0.5 - D) \cdot I_{p_{rms,FW}}^2} = {{ results.I_PR_RMS}} A 
$$

RMS current in the primary winding of the transformer (2 half-cycles during one switching period):

$$
I_{p_{RMS}} = \sqrt{I_{p_{rms,ON}}^2 + I_{p_{rms,FW}}^2} = {{ results.I_p_RMS}} A 
$$

<h3>Primary-Side Power Switch Selection</h3>

<p>Based on the results obtained, the power static switches in the primary switching circuit must be able to withstand a voltage of at least <strong>500 V</strong> at their terminals (420 V + transient voltages) and support a minimum peak and RMS current of:</p>

<ul>
  <li><strong>I<sub>max_switch</sub> = 10.039 A</strong> </li>
  <li><strong>I<sub>rms_switch</sub> = 6.46 A</strong> </li>
</ul>

<p>A MOSFET device optimized for this type of application will be selected. One suitable device is <strong>IPB65R110CFDA</strong>, based on <strong>CoolMOS technology</strong>, manufactured by <strong>Infineon Technologies</strong></p>

<p>Infineon Technologies, <em>IPB65R110CFDA CoolMOS™ Power MOSFET Datasheet</em>. 
<a href="https://www.infineon.com/assets/row/public/documents/24/49/infineon-ipx65r110cfda-ds-en.pdf" target="_blank">
https://www.infineon.com/assets/row/public/documents/24/49/infineon-ipx65r110cfda-ds-en.pdf
</a>
</p>

<p>According to the specifications, this power static switch has a nominal voltage of <strong>650 V</strong>, a drain-source on-resistance of <strong>180 mΩ</strong>, and a nominal current of <strong>19.7 A</strong> at a case temperature of <strong>100°C</strong>, which is more than sufficient for this application.</p>

<p>This device has several important characteristics for the <strong>phase-shift full-bridge topology</strong>, namely:</p>

<ul>
  <li>ultra-fast intrinsic diode;</li>
  <li>low effective drain-source capacitance;</li>
  <li>very low total gate charge;</li>
  <li>low drain-source on-resistance;</li>
  <li>short switching times.</li>
</ul>
