<h2>5. Secondary-Side Power Switch Design</h2>

<h3>5.1. Maximum and RMS Current Calculation in the Secondary Circuit</h3>

<h4>During the conduction period [0, DT]</h4>

$$
\Delta i_{L_1} = \frac{V_{in} \cdot \frac{N_s}{N_p} - V_o}{L_o} \cdot \frac{D}{F_{sw}} = {{results.delta_i_L10}} A 
$$

$$
\Delta i_{L_2} = -\frac{V_o}{L_o} \cdot \frac{D}{F_{sw}} = {{results.delta_i_L20}} A 
$$

$$
\Delta i_{SR} = \Delta i_{L_1} + \Delta i_{L_2} = {{results.delta_i_SR0}} A 
$$

$$
I_{SR, \min} = I_o - \frac{\Delta i_{SR}}{2} = {{results.I_SR_min0}} A 
$$

$$
I_{SR, \max} = I_o + \frac{\Delta i_{SR}}{2} = {{results.I_SR_max0}} A 
$$

$$
I_{SR, RMS, ON} = \sqrt{\frac{I_{SR, \min}^2 + I_{SR, \max}^2 + I_{SR, \min} \cdot I_{SR, \max}}{3}} = {{results.I_SR_RMS_ON}} A 
$$

<h4>During the conduction period [0, (0.5-D)T]</h4>

$$
\Delta i_{L_1} = \Delta i_{L_2} = \frac{V_o}{2 \cdot L_o} \cdot \frac{0.5-D}{F_{sw}} = {{results.delta_i_L11}} A 
$$

$$
\Delta i_{SR} = \Delta i_{L_1} + \Delta i_{L_2} = {{results.delta_i_SR1}} A 
$$

$$
I_{SR, \min} = I_o - \frac{\Delta i_{SR}}{2} = {{results.I_SR_min1}} A 
$$

$$
I_{SR, \max} = I_o + \frac{\Delta i_{SR}}{2} = {{results.I_SR_max1}} A 
$$

$$
I_{SR, RMS, FW} = \sqrt{\frac{I_{SR, \min}^2 + I_{SR, \max}^2 + I_{SR, \min} \cdot I_{ SR, \max }}{3}} = {{results.I_SR_RMS_FW}} A 
$$

$$
I_{SR,RMS} = \sqrt{D \cdot I_{SR,RMS,ON}^2 + (0.5 - D) \cdot I_{SR,RMS, FW}^2} = {{results.I_SR_RMS}} A 
$$

<h3>Synchronous Rectifier Power Switch Selection</h3>

<p>The minimum parameters for the nominal current of the power static switch are determined:</p>

<ul>
  <li><strong>$ I_{MAX} = 101.535 $ A </strong> (maximum current)</li>
  <li><strong>$ I_{rms} = 68.322 $ A</strong> (RMS current)</li>
</ul>

<p>At these current values, although a single power static switch could theoretically handle the RMS current ($68.3$ A is below the MOSFET's 81 A nominal rating @ 100°C), <strong>using two power static switches in parallel is recommended</strong> to further reduce conduction losses and provide a safety margin for peak currents. A suitable static switch for this application is, for example, <strong>AUIRF7669L2</strong> from <strong>Infineon Technologies</strong>. This MOSFET-type power static switch has a compact size, fast switching times, and a low drain-source on-resistance ($R_{\text{DS(on)}} = 4.4~\text{m}\Omega \text{ at } T_j = 100^\circ\text{C}$ ).</p>

<p>According to the datasheet, it has a drain-source nominal voltage of 100 V and a nominal current of 81 A at a case temperature of $100^\circ\text{C}$. <p>Datasheet: <a href="https://eu.mouser.com/datasheet/3/70/1/auirf7669l2.pdf" target="_blank">AUIRF7669L2 MOSFET - Infineon Technologies</a></p>


Since the peak current ($101.5$ A) exceeds the MOSFET's nominal current, <strong>two devices will be connected in parallel on each branch of the rectifier</strong>. Thus, the rectifier circuit will contain a total of four power static switches, ensuring that each device shares the current and operates well within safe limits.</p>

<p>An important advantage of this power static switch is its high junction operating temperature of 175°C. This provides increased flexibility in cooling, especially since the device has two cooling surfaces that can be used simultaneously. The bottom of the package is cooled directly by the PCB, while a heatsink can be attached to the top surface.</p>


<p><strong>Note:</strong> This MOSFET was selected based on the reference parameters. If these parameters change, a transistor suitable for the updated specifications should be chosen.</p>