<p>I implemented a parametric PSFB design assistant based on classical power electronics equations and validated it against academic references.</p>        
        <section class="accordion">

            <details>
                <summary>I. Converter Specifications </summary>
                        {% include './cp02_01_psfb_specifications.html'%}
            </details>
            <hr>
            <details>
                <summary>II.  Power Transformer Turn Ratio </summary>
                        {% include './cp02_02_psfb_turn_ratio.html'%}
            </details>
            <hr>
            <details>
                <summary>III. Ideal and Effective Duty Cycle  </summary>
                        {% include './cp02_03_psfb_duty_cycle.html'%}
            </details>
            <hr>
            <details>
                <summary>IV.   The Output Inductor  </summary>
                        {% include './cp02_04_psfb_output_inductor.html'%}
            </details>
            <hr>
            <details>
                <summary>V.  MOSFETS  - Secondary Circuit   </summary>
                        {% include './cp02_05_psfb_mosfet_secondary.html'%}
            </details>
            <hr>
            <details>
                <summary>VI.   MOSFETS  - Primary Circuit </summary>
                        {% include './cp02_06_psfb_mosfet_primary.html'%}
            </details>
            <hr>
            <details>
                <summary>VII.  Energy - Leakage Inductance </summary>
                        {% include './cp02_07_psfb_energy_leakage_inductance.html'%}
            </details>
            <hr>
            <details>
                <summary>VIII.  Output Capacitor   </summary>
                        {% include './cp02_08_psfb_output_capacitor.html'%}
            </details>
            <hr>
            <details>
                <summary>IX.  Converter Losses    </summary>
                        {% include './cp02_09_psfb_converter_losses.html'%}
            </details>
            <hr>
            <details>
                <summary>X.  Loss Balance and Efficiency    </summary>
                        {% include './cp02_10_psfb_efficiency.html'%}
            </details>
            <hr>
            <details>
                <summary>XI. All Calculated Results   </summary>
                        {% include './cp02_11_psfb_conclusions.html'%}
            </details>
            <hr> <hr>
            <details>
                <summary>XII.  Generalized Analytical Model for the Effective Duty Cycle    </summary>
                        {% include './cp02_12_effective_duty_cycle.html'%}
            </details>
        </section>
