{% load static %}
<div class="section--content">
    <div class="galerie-magnetic">
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_03_5382_properties.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_03_5382_properties.png' %}" alt="boost_xl6019">
            </a>
            {% comment %} <figcaption> 3D view of EI38/8/25 Core  ( 3C96 material )   </figcaption> {% endcomment %}
        </figure>
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_03_10815_properties.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_03_10815_properties.png' %}" alt="boost_xl6019">
            </a>
            {% comment %} <figcaption>   YZ view of EI38/8/25 Core  ( 3C96 material )  </figcaption> {% endcomment %}
        </figure>
    </div>
</div>

<div class="section--content">
    <div class="galerie-magnetic">
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_06_EI38_winding_properties.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_06_EI38_winding_properties.png' %}" alt="boost_xl6019">
            </a>
            {% comment %} <figcaption> 3D view of EI38/8/25 Core  ( 3C96 material )   </figcaption> {% endcomment %}
        </figure>
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_07_FR4_properties.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/PEmag_Full_Bridge_07_FR4_properties.png' %}" alt="boost_xl6019">
            </a>
            {% comment %} <figcaption>   YZ view of EI38/8/25 Core  ( 3C96 material )  </figcaption> {% endcomment %}
        </figure>
    </div>
</div>