<p>
To perform the numerical simulations, the simulation conditions and models were first defined. It was assumed that the transformer design used the turns ratio ($ N = 8 $) and was implemented using planar technology.
</p>

<p>
While the winding structure and interconnection scheme differed between variants, a key design constraint was that the maximum magnetic flux density in the core did not exceed $125$ mT. 
</p>

<p>
The operating conditions were summarized in Table&nbsp;4.3.
</p>

<table border="1">
    <caption>Table 4.3 DC-DC Converter Operating Conditions</caption>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Symbol</th>
            <th>Module 1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nominal Output Power</td>
            <td>P<sub>o</sub></td>
            <td>1.3 kW</td>
        </tr>
        <tr>
            <td>Input Voltage</td>
            <td>V<sub>in</sub></td>
            <td>450 V</td>
        </tr>
        <tr>
            <td>Output Voltage</td>
            <td>V<sub>o</sub></td>
            <td>13.5 V</td>
        </tr>
        <tr>
            <td>Output Current</td>
            <td>I<sub>o</sub></td>
            <td>93 A</td>
        </tr>
        <tr>
            <td>Duty Cycle</td>
            <td>D</td>
            <td>0.2959</td>
        </tr>
        <tr>
            <td>Magnetizing Inductance</td>
            <td>L<sub>p</sub></td>
            <td>100 μH</td>
        </tr>
    </tbody>
</table>

<p>
The transformer was evaluated through numerical simulations in order to determine the key electrical and magnetic parameters, including:
</p>

<ul>
    <li>Equivalent winding resistances at the operating frequency;</li>
    <li>Winding losses and core losses;</li>
    <li>Intrinsic leakage inductance;</li>
    <li>Maximum magnetic flux density in the core.</li>
</ul>

<p>
Finite Element Method (FEM) simulations were carried out using Ansys Electromagnetics software suite. 
</p>

<p>
For the FEM analysis, an adaptive discretization mesh was employed. This type of mesh increased resolution in regions with high magnetic field non-uniformity (e.g., air gaps) and applied a coarser mesh in areas where the magnetic field was relatively uniform. As a result, simulation time was significantly reduced without compromising result accuracy.
</p>

<p>
For the FEM simulation, a maximum error threshold of 2% was specified. This parameter, defined within the Ansys software, controlled the mesh refinement level required to ensure proper solution convergence.
</p>