{% load static %}
<p>
The power transformer provides galvanic isolation and enables energy transfer from the primary circuit to the secondary side of the converter. It plays a critical role in the overall operation, as the converter’s performance is largely influenced by the transformer design.
</p>

<div class="section--content">
    <div class="galerie-magnetic">
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/Maxwell_01_3D_geometry_EI38.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/Maxwell_01_3D_geometry_EI38.png' %}" alt="boost_xl6019">
            </a>
            <figcaption> 3D view of EI38/8/25 Core  ( 3C96 material )   </figcaption>
        </figure>
        <figure class="figura-magnetic">
            <a href="{% static './images/power_psfb/EI38_MAG/Maxwell_02x_3D_geometry_EI38.png'  %}" target="_blank">
            <img class="imagini-ltspice" src="{% static './images/power_psfb/EI38_MAG/Maxwell_02x_3D_geometry_EI38.png' %}" alt="boost_xl6019">
            </a>
            <figcaption>   YZ view of EI38/8/25 Core  ( 3C96 material )  </figcaption>
        </figure>
    </div>
</div>

<p>
Special attention must be given to the selection of the core material, core geometry, and the configuration and interconnection of the windings during the design process. The transformer's performance and long-term reliability are strongly dependent on these factors.
</p>
