       
<section class="accordion">

    <details>
        <summary>I. Power Transformer </summary>
                {% include './cp03_01_psfb_tr_power.html'%}
    </details>
    <hr>
    <details>
        <summary>II. Power Transformer Specifications </summary>
                {% include './cp03_02_psfb_tr_specifications.html'%}
    </details>
    <hr>
    <details>
        <summary>III. Power Transformer - Magnetic Material </summary>
                {% include './cp03_03_psfb__tr_magnetic_material.html'%}
    </details>
    <hr>
    <details>
        <summary>IV. Power Transformer - Magnetic Core </summary>
                {% include './cp03_04_psfb__tr_magnetic_core.html'%}
    </details>
    <hr>
    <details>
        <summary>V. Power Transformer - Wires and Insolation </summary>
                {% include './cp03_05_psfb_wires.html'%}
    </details>
    <hr>
    <details>
        <summary>VI. Power Transformer - Magnetic Simulation </summary>
                {% include './cp03_06_psfb__tr_magnetic_simulation.html'%}
    </details>
    <hr>
</section>