<h1>Sizing of Power Components and Efficiency Calculation</h1>

<ul>
    <li>Final Specifications of the Converter</li>
    <li>Calculation of the Transformer Turns Ratio</li>
    <li>Derivation of the Ideal and Effective Duty Cycle</li>
    <li>Sizing of the Output Inductors
        <ul>
            <li>Calculation of the Output Inductance Value</li>
            <li>Calculation of the Peak Current and Derivation of the RMS Current</li>
            <li>Selection of the Magnetic Core and Calculation of the Maximum Flux Density</li>
        </ul>
    </li>
    <li>Sizing of the Power Semiconductor Switches in the Secondary Circuit
        <ul>
            <li>Calculation of Maximum and RMS Currents in the Secondary Circuit</li>
            <li>Selection of the Semiconductor Switch for the Rectifier Circuit</li>
        </ul>
    </li>
    <li>Sizing of the Power Semiconductor Switches in the Primary Circuit
        <ul>
            <li>Calculation of the Currents Through the Semiconductor Switches in the Primary Circuit</li>
            <li>Selection of the Semiconductor Switch for the Primary Circuit</li>
        </ul>
    </li>
    <li>Calculation of the Energy Available in the Leakage Inductance</li>
    <li>Calculation of the Output Capacitor</li>
    <li>Calculation of Converter Losses
        <ul>
            <li>Power Dissipated in the Output Inductors</li>
            <li>Power Dissipated in the Semiconductor Switches of the Primary Circuit</li>
            <li>Power Dissipated in the Semiconductor Switches of the Secondary Circuit</li>
            <li>Power Dissipated in the Isolation Transformer</li>
            <li>Power Consumed by the Control Circuits</li>
            <li>Power Dissipated Due to Overvoltage Limiting Circuits</li>
        </ul>
    </li>
    <li>Loss Breakdown and Determination of Converter Efficiency</li>
    <li>Conclusions</li>
    <li>References</li>
</ul>

