{% load static %}

<h6>Dedicated Software</h6>

<table>
    <tr><th>Software</th></tr>
    <tr><td>PExprt / PEmag (ANSYS)</td></tr>
    <tr><td>ANSYS Maxwell 2D / 3D</td></tr>
</table>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_02_infasurari.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_02_infasurari.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - PEmag Electrical circuit  </figcaption>
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_01_geometrie_2D.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_01_geometrie_2D.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - PEmag inductor 2D section   </figcaption>
                </figure>
            </div>
        </div>

<h6>Waveforms</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Input Voltage</td><td>\( V_{in} = 12\,\text{V} \)</td></tr>
    <tr><td>Output Voltage</td><td>\( V_{out} = 24\,\text{V} \)</td></tr>
    <tr><td>Output Power</td><td>\( P = 30\,\text{W} \)</td></tr>
    <tr><td>Output Current</td><td>\( I_{out} = 1\,\text{A} \)</td></tr>
    <tr><td>Load Resistance</td><td>\( R = 24\,\Omega \)</td></tr>
    <tr><td>Inductance</td><td>\( L = 41.32\,\text{mH} \)</td></tr>
    <tr><td>Switching Frequency</td><td>\( f = 220\,\text{kHz} \)</td></tr>
    <tr><td>Current Ripple</td><td>\( \Delta i_L = 660\,\text{mA} \)</td></tr>
    <tr><td>Duty Cycle</td><td>\( D = 50\% \)</td></tr>
    <tr><td>Conduction Mode</td><td>Continuous</td></tr>
</table>


        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_03_RM10_core_properties.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_03_RM10_core_properties.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Boost Converter (XL6019)  </figcaption> -->
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_04_RM10_core_dimensions.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_04_RM10_core_dimensions.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Schematic - Boost Converter (XL6019)   </figcaption> -->
                </figure>
            </div>
        </div>
<h6>Losses (RM10)</h6>

<table>
    <tr><th>Type</th><th>Value</th></tr>
    <tr><td>Core Loss</td><td>\( 8.679\,\text{mW} \)</td></tr>
    <tr><td>Winding Loss</td><td>\( 8.289\,\text{mW} \)</td></tr>
    <tr><td>Total Losses</td><td>\( 16.968\,\text{mW} \)</td></tr>
</table>


        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_05_RM10_bobbin_dimensions.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_05_RM10_bobbin_dimensions.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Boost Converter (XL6019)  </figcaption> -->
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_06_RM10_winding_properties.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_06_RM10_winding_properties.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Schematic - Boost Converter (XL6019)   </figcaption> -->
                </figure>
            </div>
        </div>

        <h6>Winding Losses (RM10)</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>DC Resistance</td><td>\( 2.029\,\Omega \)</td></tr>
    <tr><td>Winding Loss</td><td>\( 8.289\,\text{mW} \)</td></tr>
    <tr><td>RMS Current</td><td>\( I_{rms} = 2.009\,\text{A} \)</td></tr>
    <tr><td>DC Losses</td><td>\( 8.191\,\text{mW} \)</td></tr>
</table>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_03_AWG16_properties.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_03_AWG16_properties.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Boost Converter (XL6019)  </figcaption> -->
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_07_Tape_properties.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_07_Tape_properties.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Schematic - Boost Converter (XL6019)   </figcaption> -->
                </figure>
            </div>
        </div>
<h6>Window Occupancy (RM10)</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Window Filling</td><td>\( 33.21\% \)</td></tr>
    <tr><td>Winding Rate</td><td>\( 66.08\% \)</td></tr>
</table>

<h6>Windings (RM10)</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Current Density</td><td>\( J_1 = 768.59\,\text{mA/mm}^2 \)</td></tr>
    <tr><td>Inductance</td><td>\( L = 41.32\,\text{mH} \)</td></tr>
</table>

<h6>Temperature</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Max Temperature</td><td>\( 25.37^\circ\text{C} \)</td></tr>
    <tr><td>Core Temperature</td><td>\( 25.34^\circ\text{C} \)</td></tr>
</table>


        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_09_PC50_properties.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_09_PC50_properties.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Boost Converter (XL6019)  </figcaption> -->
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_10_PC50_parameters.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_10_PC50_parameters.png' %}" alt="boost_xl6019">
                    </a>
                    <!-- <figcaption> Schematic - Boost Converter (XL6019)   </figcaption> -->
                </figure>
            </div>
        </div>
<h6>Flux Density</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Variation</td><td>\( B = 55.66\,\text{mT} \)</td></tr>
    <tr><td>Maximum</td><td>\( B = 196.49\,\text{mT} \)</td></tr>
</table>

<h6>Incremental Permeability</h6>

<table>
    <tr><th>Parameter</th><th>Value</th></tr>
    <tr><td>Average Field</td><td>\( H_{avg} = 95.87\,\text{A/m} \)</td></tr>
    <tr><td>Initial Permeability</td><td>1400</td></tr>
    <tr><td>Actual Permeability</td><td>1400</td></tr>
</table>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_01_schematic.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_01_schematic.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Simplorer circuit </figcaption> 
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_10_PC50_BH_curve.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/pemag_boost_10_PC50_BH_curve.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - PEmag Hysteresis curve BH  </figcaption> 
                </figure>
            </div>
        </div>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_02_coil_current.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_02_coil_current.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Simplorer circuit - Curent through the coil  </figcaption> 
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_03_coil_current_ripple.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_03_coil_current_ripple.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Simplorer circuit - Curent through the coil (current ripple ) </figcaption> 
                </figure>
            </div>
        </div>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_04_resistance_voltage.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_04_resistance_voltage.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Simplorer circuit - Voltage across the Load resistance   </figcaption> 
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_05_resistance_voltage_ripple.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/simplorer_boost_05_resistance_voltage_ripple.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Simplorer circuit - Voltage across the Load resistance  (voltage ripple ) </figcaption> 
                </figure>
            </div>
        </div>

        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_01_3D_geometry.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_01_3D_geometry.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Maxwell 3D - Inductor 3D view </figcaption> 
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_02_3D_geometry.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_02_3D_geometry.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Maxwell 3D - Inductor 3D view </figcaption> 
                </figure>
            </div>
        </div>


        <div class="section--content">
            <div class="galerie-magnetic">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_03_3D_magnetic_field.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_03_3D_magnetic_field.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Maxwell 3D - Magnetic flux density B [T]</figcaption> 
                </figure>
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_03_3D_current_density.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_electronics_pics/Boost_PEmag_XL6019/Maxwell_03_3D_current_density.png' %}" alt="boost_xl6019">
                    </a>
                    <figcaption> Boost Converter (XL6019) - Maxwell 3D - Current Flux Density $J ~~ [A/m^2]$  </figcaption> 
                </figure>
            </div>
        </div>


<!-- <h6>Dedicated Software</h6>
<ul>
    <li>PExprt / PEmag (ANSYS)</li>
    <li>ANSYS Maxwell 2D / 3D</li>
</ul>

<h6>PExprt Results</h6>

<h6>1. Waveforms</h6>
<ul>
    <li>Input Voltage: \( V_{in} = 12\,\text{V} \)</li>
    <li>Output Voltage: \( V_{out} = 24\,\text{V} \)</li>
    <li>Output Power: \( P = 30\,\text{W} \)</li>
    <li>Output Current: \( I_{out} = 1\,\text{A} \)</li>
    <li>Load Resistance: \( R = 24\,\Omega \)</li>
    <li>Inductance: \( L = 41.32\,\text{mH} \)</li>
    <li>Switching Frequency: \( f = 220\,\text{kHz} \)</li>
    <li>Current Ripple: \( \Delta i_L = 660\,\text{mA} \)</li>
    <li>Duty Cycle: \( D = 50\% \)</li>
    <li>Conduction Mode: Continuous</li>
</ul>

<h6>2. Losses (RM10)</h6>
<ul>
    <li>Core Loss: \( 8.679\,\text{mW} \)</li>
    <li>Winding Loss: \( 8.289\,\text{mW} \)</li>
    <li>Total Losses: \( 16.968\,\text{mW} \)</li>
</ul>

<h6>3. Winding Losses (RM10)</h6>
<ul>
    <li>DC Resistance: \( 2.029\,\Omega \)</li>
    <li>Winding Loss: \( 8.289\,\text{mW} \)</li>
    <li>RMS Current: \( I_{rms} = 2.009\,\text{A} \)</li>
    <li>DC Losses: \( 8.191\,\text{mW} \)</li>
</ul>

<h6>4. Window Occupancy (RM10)</h6>
<ul>
    <li>Window Filling: \( 33.21\% \)</li>
    <li>Winding Rate: \( 66.08\% \)</li>
</ul>

<h6>5. Windings</h6>

<h6>5.1 Winding (RM10)</h6>
<ul>
    <li>Current Density: \( J_1 = 768.59\,\text{mA/mm}^2 \)</li>
    <li>Inductance: \( L = 41.32\,\text{mH} \)</li>
</ul>

<h6>5.2 Temperature</h6>
<ul>
    <li>Max Temperature: \( 25.37^\circ\text{C} \)</li>
    <li>Core Temperature: \( 25.34^\circ\text{C} \)</li>
</ul>

<h6>5.3 Flux Density</h6>
<ul>
    <li>Variation: \( B = 55.66\,\text{mT} \)</li>
    <li>Maximum: \( B = 196.49\,\text{mT} \)</li>
</ul>

<h6>5.4 Incremental Permeability</h6>
<ul>
    <li>Average Field: \( H_{avg} = 95.87\,\text{A/m} \)</li>
    <li>Initial Permeability: 1400</li>
    <li>Actual Permeability: 1400</li>
</ul> -->
