{% load static %}   
<p>
Figure 6.2 shows a photograph of the converter prototype, consisting of two 1.6 kW phase-shift full-bridge modules connected in parallel. For easier visualization, the converter has been divided into the following sections:
</p>
      <div class="section--content">
                <figure class="figura-magnetic">
                    <a href="{% static './images/power_psfb/Schema_bloc_a_convertorului.png'  %}" target="_blank">
                    <img class="imagini-ltspice" src="{% static './images/power_psfb/Schema_bloc_a_convertorului.png' %}" alt="psfb_randament">
                    </a>
                    <figcaption> Converter Efficiency at Different Input Voltages and Output Currents  </figcaption>
                </figure>
        </div>
<ul>
    <li>Input voltage terminals (Vin);</li>
    <li>Primary section of Module 1 and Module 2;</li>
    <li>T1, T2, the power transformers;</li>
    <li>Control section, including the microcontroller along with driver and protection modules;</li>
    <li>Controlled rectifiers of Module 1 and Module 2;</li>
    <li>L1, L2, the output inductors;</li>
    <li>Converter output voltage terminals (Us).</li>
</ul>
