<section class="accordion">
    <details>
        <summary>I. Prototype Introduction</summary>
        {% include './cp04_01_introduction.html' %}
    </details>
    <hr>

    <details>
        <summary>II. Block Diagram</summary>
        {% include './cp04_02_block_diagram.html' %}
    </details>
    <hr>

    <details>
        <summary>III. Prototype Implementation</summary>
        {% include './cp04_03_implementation.html' %}
    </details>
    <hr>

    <details>
        <summary>IV. Prototype Description</summary>
        {% include './cp04_04_description.html' %}
    </details>
    <hr>

    <details>
        <summary>V. Waveform Characterisation</summary>
        {% include './cp04_05_waveforms.html' %}
    </details>
    <hr>

    <details>
        <summary>VI. Efficiency Characterisation</summary>
        {% include './cp04_06_efficiency.html' %}
    </details>
    <hr>

    <details>
        <summary>VII. Thermal Measurements</summary>
        {% include './cp04_07_thermal.html' %}
    </details>
    <hr>
</section>

