    {% load static %}

  <div class="section--content">
          <figure class="figura-magnetic">
              <a href="{% static './images/power_psfb/PSIM_PSFB_converter_feedback.png'  %}" target="_blank">
              <img class="imagini-ltspice" src="{% static './images/power_psfb/PSIM_PSFB_converter_feedback.png' %}" alt="psfb_converter">
              </a>
              <figcaption> Power electrical schematic in PSIM </figcaption> 
          </figure>
  </div>

    <div class="section--content">
          <figure class="figura-magnetic">
              <a href="{% static './images/power_psfb/PSIM_COMANDA_LOGICA.png'  %}" target="_blank">
              <img class="imagini-ltspice" src="{% static './images/power_psfb/PSIM_COMANDA_LOGICA.png' %}" alt="psfb_converter">
              </a>
              <figcaption>  </figcaption> 
          </figure>
  </div>

    <div class="section--content">
          <figure class="figura-magnetic">
              <a href="{% static './images/power_psfb/psim_results_260125.png'  %}" target="_blank">
              <img class="imagini-ltspice" src="{% static './images/power_psfb/psim_results_260125.png' %}" alt="psfb_converter">
              </a>
              <figcaption> Simulation of a single module in steady-state operation at $ U_{out} = 14 ~ V$ , $ I_o = 115 ~ A $ </figcaption> 
          </figure>
  </div>